<h1>Posts</h1>

<div>
  Sort by: <%= link_to "Newest first", posts_path(sort: :desc) %> | <%= link_to 'Oldest first', posts_path(sort: :asc) %>
</div>

<% @posts.each do |post| %>
  <main>
    <h2><%= post.title %></h2>

    <p>Posted by: <%= link_to post.user.name, user_path(post.user) %>, <%= time_ago_in_words post.created_at %> ago</p>
    <p><%= post.body %></p>
    <hr />
  </main>
<% end %>
